body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
:root {
    --primary: #9D4EDD;
}
.local-primary-text {
    color: var(--primary) !important;
}
.local-primary-border {
    border-color: var(--primary) !important;
}

#toggleShowPasswordButton:hover {
    background-color: var(--bs-light);
}

#login-form {
    max-width: 400px;
}

.hidden {
    display: none;
}

.home-main {
    /* https://mor10.com/wceu2017/ */
    display: grid;
    /*grid-template-columns: 1fr 2fr;*/
    grid-template-areas: 
        "nav section";
    height: 100vh;
}

.home-nav {
    grid-area: nav;
}

.home-section {
    grid-area: section;
}

.link-no-underline {
    text-decoration: none;
}

.font-m {
    font-size: medium;
}

.font-l {
    font-size: large;
}

.font-xl {
    font-size: x-large;
}

.font-xxl {
    font-size: xx-large;
}

.nav-item {
    overflow-x: hidden;
}

.pointerOnHover:hover {
    cursor: pointer;
}

.nav-list {
    list-style: none;
}

.nav-list li {
    padding-bottom: 20px;
}

.nav-list:nth-child(1) {
    padding-top: 10px;
}

.btn {
    color: #9D4EDD;
}

.message, .profile-preview-search {
    border-width: 1px 0px 0px 0px;
    border-color: var( --bs-border-color);
    border-style: solid;
    padding-top: 15px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    overflow-x: hidden;
    max-width: 95vw;
}

.pfp {
    width: 100px;
    height: 100px;
}

#newMessageTextArea {
    resize: none;
    background-color: aliceblue;
    color : var(--bs-dark) !important;
}

#newMessageTextArea::placeholder, #searchUserInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--primary);
    opacity: 1; /* Firefox */
}

#newMessageTextArea::-ms-input-placeholder, #searchUserInput::-ms-input-placeholder { /* Microsoft Edge */
    color: red;
}

input {
    color : var(--bs-dark) !important;
}
.nav-icon {
    width: 100px;
}

/* TMP BORDERS 
article {
    box-sizing: border-box;
    outline: 2px solid pink !important; 
}

section {
    box-sizing: border-box;
    outline: 1px solid red !important; 
}

*/

@media screen and (max-width: 991.5px) {
    .home-main {
        grid-template-columns: 1fr;
        grid-template-rows: 70px 1fr;
        grid-template-areas:
            "nav"
            "section";
    }

    .home-nav {
        height: 70px;
        background-color: var(--bs-dark);
    }

    .home-section {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 2%;
        padding-right: 2%;
    }

    #navbarSupportedContent {
        background-color: var(--bs-dark);
        width: 100%;
        position: absolute;
        top: 70px;
        left: 0px;
        padding-right: 30px;
        height: 100vh !important;
    }

    #buttonTogglerContainer {
        background-color: var(--bs-dark);
    }

    .not-found-img {
        width : 100%;
        max-width: 400px;
    }

    .img-icon-login {
        width: 70px;
        height: 70px;
    }
    
}

@media screen and (min-width: 991.5px) {
    .home-main {
        grid-template-columns: 350px auto;
    }
    .nav-item {
        max-width: 330px;
    }
    .home-section {
        padding-left: 6%;
        padding-right: 6%;
        padding-bottom: 50px;
        padding-top: 50px;
    }
    nav div.container-fluid {
        position: fixed;
        top: 20px;
        left: -10px;
        max-width: fit-content;
    }

    .home-section {
        border-width: 0px 0px 0px 1px;
        border-style: solid;
        border-color: var(--bs-light);
    }

    .not-found-img {
        width: 350px;
    }

    .img-icon-login {
        width: 120px;
        height: 120px;
    }
}

@media screen and (min-width: 1200px) {
    .home-main {
        grid-template-columns: 450px auto;
    }
    .home-section {
        padding-left: 12%;
        padding-right: 12%;
    }
    nav div.container-fluid {
        position: fixed;
        top: 20px;
        left: 25px;
        max-width: fit-content;
    }
}

/* https://stackoverflow.com/a/42262375 */
[v-cloak] {
    display: none;
}