body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
:root {
    --primary: #9D4EDD;
}
.local-primary-text {
    color: var(--primary) !important;
}
.local-primary-border {
    border-color: var(--primary) !important;
}

#toggleShowPasswordButton:hover {
    /*background-color: snow; /*approximation*/
    background-color: var(--bs-light);
}

#login-form {
    max-width: 400px;
}

.hidden {
    display: none;
}

.home-main {
    /* https://mor10.com/wceu2017/ */
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
        "nav section";
    height: 100vh;
}

.home-nav {
    grid-area: nav;
}

.home-section {
    grid-area: section;
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 50px;
    padding-top: 50px;
}

.link-no-underine {
    text-decoration: none;
}

.font-m {
    font-size: medium;
}

.font-l {
    font-size: large;
}

.font-xl {
    font-size: x-large;
}

.font-xxl {
    font-size: xx-large;
}

.nav-list {
    list-style: none;
}

.nav-list li {
    padding-bottom: 20px;
}

.nav-list:nth-child(1) {
    padding-top: 10px;
}

.btn {
    color: #9D4EDD;
}

.message {
    border-width: 1px 0px 0px 0px;
    border-color: var( --bs-border-color);
    border-style: solid;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 0px;
}

#newMessageTextArea {
    resize: none;
    background-color: aliceblue;
    color : var(--bs-dark) !important;
}

input {
    color : var(--bs-dark) !important;
}
.nav-icon {
    width: 100px;
}

/* TMP BORDERS 
article {
    box-sizing: border-box;
    outline: 2px solid pink !important; 
}

section {
    box-sizing: border-box;
    outline: 1px solid red !important; 
}

*/

@media screen and (max-width: 991.5px) {
    .home-main {
        grid-template-columns: 1fr;
        grid-template-rows: 70px 1fr;
        grid-template-areas:
            "nav"
            "section";
    }

    .home-nav {
        height: 70px;
        background-color: var(--bs-dark);
    }

    .home-section {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 2%;
        padding-right: 2%;
    }

    #navbarSupportedContent {
        background-color: var(--bs-dark);
    }

    #buttonTogglerContainer {
        background-color: var(--bs-dark);
    }

    /*
    #navbarSupportedContent {
        height: 100vh;
    }
    */

}

@media screen and (min-width: 991.5px) {
    nav div.container-fluid {
        position: fixed;
        top: 20px;
        left: -10px;
        max-width: fit-content;
    }

    .home-section {
        border-width: 0px 0px 0px 1px;
        border-style: solid;
        border-color: var(--bs-light);
    }
}

@media screen and (min-width: 1200px) {
    nav div.container-fluid {
        position: fixed;
        top: 20px;
        left: 25px;
        max-width: fit-content;
    }
}

/* https://stackoverflow.com/a/42262375 */
[v-cloak] {
    display: none;
}